* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/*Banner page*/

.header {
  width: 100%;
  height: 100vh;
  /* background: url("/images/bg.jpg"); */
  background-image: linear-gradient(to right, #864e04, #e7d5c3);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
/*common for every component*/
.container {
  margin: 10px;
}
.common {
  width: 33.33333333333333%;
  margin: 20px auto;
  text-align: center;
}
.mainHeader {
  font-size: 32px;
  margin-bottom: 20px;
  color: rgb(247, 239, 239);
}

.commonBorder {
  background: #ff4a57;
  height: 3px;
  width: 100px;
  margin: 30px auto;
}

/*common for every component*/

/* Grid System */
.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.col-6 {
  width: 50%;
} /* Grid System End*/

/* header */
.header__content {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: rgb(2, 2, 2);
  margin-left: 120px;
}
.header__section h1 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}
.header__section p {
  font-size: 26px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 50px;
}
.header__ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 40px;
}
.header__ul li {
  width: 50px;
  height: 50px;
  border: 2px solid #050505d8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  transition: all 0.5s linear;
  cursor: pointer;
}
.header__ul li:hover {
  background: rgba(221, 216, 209, 0.664);
  border: 2px solid transparent;
}
.header__ul li:hover .headerIcon {
  color: #ff4a57;
}
.header__ul li:first-child {
  margin-left: 0;
}
/* header end */

.alignCenter {
  align-items: center;
}
.justifyConter {
  justify-content: center;
}

.btn {
  outline: none;
  border: none;
  color: rgb(17, 16, 16);
  text-decoration: none;
}
.btn-outline {
  border: 2px solid #2e1e0a;
  border-radius: 50px;
  padding: 13px 40px;
}

.banner__img {
  padding: 0 30px;
  margin-top: 150px;
}

/*Banner page end*/

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: #1f2235;
  z-index: 1;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}

.nav-header img {
  width: 120px;
  height: 39px;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: white;
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 0.4rem 0;
  color: orange;
  transition: all 0.3s linear;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 3px;
}
.nav-links a:hover {
  color: #af9a7d;
}

.show-nav {
  height: 180px;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}
/* end of navbar */

/*About Page*/
.about {
  width: 100%;
  background: #23263a;
  padding: 100px 0;
}

.about__info {
  color: #fff;
  margin-left: 120px;
  margin-right: 60px;
}
.about__info h1 {
  margin-bottom: 30px;
}
.about__info-p1 {
  font-size: 17px;
  line-height: 25px;
  margin-bottom: 20px;
  word-spacing: 1.5px;
}
.about__info-p2 {
  font-size: 17px;
  line-height: 25px;
  word-spacing:1.5px;
}

.info__contacts {
  margin-top: 20px;
  line-height: 25px;
  word-spacing: 1.5px;
  font-size: 17px;
}
.info__contacts strong {
  color: #ff4a57;
}
.info__contacts p {
  margin-top: 3px;
}
.info__contacts .col-12 {
  margin: 10px 0;
}
.info__contacts .row .col-6 {
  margin-top: 25px;
}
/*About page end*/

/* Skills page */
.skills {
  background: #1f2235;
  padding: 100px 0;
  width: 100%;
}
.skills__box {
  /* padding: 25px; */
  color: #1f2235;
  margin: 25px;
  transition: all 0.5s linear;
  margin-left: 120px;
}

/* .col-4 {
  width: 15%;
} */
.bgMain {
  background: #1f2235;
}
/* Skills page end*/

/*Projects page*/
.featured-rooms-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
@media screen and (min-width: 776px) {
  .featured-rooms-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .featured-rooms-center {
    width: 95vw;
    max-width: 1170px;
  }
}
.room {
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.3s linear;
}

.room:hover {
  box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  height: 250px;
  display: block;
  transition: all 0.3s linear;
}
.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: all 0.3s linear;
}
.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 3px;
}
.room-linkr{
  position: absolute;
  top: 50%;
  left: 45%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.room-linkl{
  position: absolute;
  top: 30%;
  left: 45%;
  transform: scale(0);
  transition: all 0.3s linear;
}

.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .price-top {
  opacity: 0;
}
.img-container:hover .room-linkl{
  transform: translate(-50%, -50%) scale(1);
}
.img-container:hover .room-linkr {
  transform: translate(-50%, -50%) scale(1);
}
.room-info {
  background: #cfcfcf;
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: 3px;
}

.btn-primary{
  display: inline-block;
  text-decoration: none;
  background: #af9a7d;
  padding: 0.4rem 0.9rem;
  text-transform: uppercase;
  cursor: pointer;
}


.img-container li {
  display: flex;
  margin: 20px;
}
/*end of projects*/

/*Experience*/
.headerExp {
  font-size: 32px;
  /* margin-bottom: 20px; */
  color: rgb(248, 240, 240);
  text-align: center;
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 5rem;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.containerExp {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.containerExp::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  /* z-index: 1; */
}
/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* Place the container to the left */
.left {
  left: 0;
}
.right {
  left: 50%;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  /* z-index: 1; */
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  /* z-index: 1; */
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.content span {
  font-size: 12px;
  color: grey;
  opacity: 0.5;
}
.content p {
  display: block;
  margin: 10px;
  font-size: 14px;
}

.content .task,
h4 {
  color: orangered;
}

@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .containerExp {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .containerExp::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
/*end of experience*/

/*Education*/
.education {
  padding: 100px 0;
  width: 100%;
}
.common-edu {
  text-align: center;
}
.commone {
  margin: 20px auto;
  text-align: center;
}
.education {
  margin-top: 40px;
  width: 80%;
  margin-left: 130px;
}
input {
  display: none;
}

label {
  display: block;
  padding: 8px 22px;
  margin: 0 0 1px 0;
  cursor: pointer;
  background: #3dc5ee;
  border-radius: 3px;
  color: rgb(12, 11, 11);
  transition: ease 0.5s;
  text-align: left;
}



.content {
  background: #e2e5f6;
  padding: 10px 25px;
  border: 1px solid #a7a7a7;
  margin: 0 0 1px 0;
  border-radius: 3px;
  text-align: left;
  list-style: decimal;
}

input + label + .content {
  display: none;
}

input:checked + label + .content {
  display: block;
}
.headerEdu {
  color: black;
  font-size: 32px;
  text-align: center;
}
/*end of education*/

/* media queries*/
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 50px;
  }
  .col-6 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  /* .col-4 {
    width: 33.33%;
  } */
  .col-12 {
    width: 100%;
  }
  .navbar__right {
    flex-direction: column;
    width: 100%;
    align-items: center;
    background: #1f2235;
    position: fixed;
    top: 0;
    left: 0;
  }
  .navbar__right li a {
    display: block;
    padding: 20px 0;
    font-size: 14px;
  }
  .toggle {
    display: flex;
  }
  .banner__img img {
    display: none;
  }
  .header__section h1 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 6rem;
  }
  .header__section p {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 50px;
  }
  .common {
    width: 100%;
  }
  .h-650 {
    height: auto;
  }
  .education,.skills__box,.about__info,.header__content{
    margin-left: 20px;
   
  }
  .education{
    width:100%
  }
}
